    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>خدمات</h2>
            <p>تجهیز انواع آزمایشگاه و مراکز تحقیقاتی</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-network-chart"></i></div>
                <h4><a href="">آزمایشگاه پاتولوژی</a></h4>
                <p> ارائه تجهیزات آزمایشگاهی برای مهیا ساختن مجموعه ای از تحولات جهت تشخیص و تفسیر پاتولوژیک</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-dna"></i></div>
                <h4><a href="">آزمایشگاه ژنتیک</a></h4>
                <p> ارائه تجهیزات آزمایشگاهی برای مهیا ساختن روش مولکولی برای تشخیص بیماری های ژنتیکی در نسل آینده</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-water"></i></div>
                <h4><a href="">آزمایشگاه آب و فاضلاب</a></h4>
                <p> ارائه تجهیزات آزمایشگاهی برای مهیا ساختن روش مولکولی برای تشخیص بیماری های ژنتیکی در نسل آینده</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-basket"></i></div>
                <h4><a href="">آزمایشگاه صنایع غذایی</a></h4>
                <p> ارائه تجهیزات آزمایشگاهی برای مهیا ساختن روش های آنالیز غلظت سموم، املاح و مواد شیمیایی موجود در آب</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-capsule"></i></div>
                <h4><a href="">آزمایشگاه دارو سازی</a></h4>
                <p> ارائه تجهیزات آزمایشگاهی برای مهیا ساختن روش های تشخیص مواد شیمیایی و نحوه ترکیب آنها برای ساخت دارو</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-leaf"></i></div>
                <h4><a href="">آزمایشگاه کشاورزی و گیاه شناسی</a></h4>
                <p>ارائه تجهیزات آزمایشگاهی برای مهیا ساختن روش های تشخیص پارامتر های فیزیکی و شیمیایی آب و خاک</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
