<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>درباره</h2>
        <p>ماموریت ما</p>
      </div>
  
      <div class="row content">
        <div class="col-lg-6">
          <p>
            ماموریت اصلی مجموعه رویان ایران ایجاد بستر تخصصی دسترسی و مشاوره در حوزه تجهیزات آزمایشگاهی می باشد تا با
            پشتیبانی از نیازهای آزمایشگاه یک منبع آنلاین و جامع اطلاعات مربوط به محصول را فراهم کند. تجهیزات‌ آزمایشگاهی
            در رویان ایران برای شش گروه آزمایشگاهی دسته بندی شده است و اطلاعات کامل تمامی محصولات به صورت تخصصی در صفحه هر
            محصول ارائه گردیده است.
  
            مجموعه رویان ایران با سرمایه گذاری بخش خصوصی هلدینگ زیست بنیان با اتکا بر تجربه پیشین در ساخت و تجهیز
            آزمایشگاه های کشوری در سال ۱۳۹۹ به صورت تخصصی اقدام به راه اندازی بستری مناسب جهت راه اندازی و تجهیز آزمایشگاه
            ها کرده است.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            مجله تخصصی رویان ایران، تجهیزات‌ آزمایشگاهی را به تفضیل شرح می دهد و برای آشنایی بیشتر مخاطبان مواردی از
            قبیل: انواع مختلف دستگاه، اجزای سازنده، روش کار، نگهداری‌ و‌ ایمنی و کنترل کیفی ارائه شده است.
  
            هدف اصلی ما کمک به متخصصین جهت تجهیز آزمایشگاه با حصول بیشترین کیفیت در ازای مناسب ترین قیمت می باشد. جهت نیل
            به این مهم ، امکان مشاوره رایگان جهت تجهیز آرمایشگاه برای عموم فرآهم شده است.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>
  
    </div>
  </section><!-- End About Section -->
